/*Section Design Desktop*/
.secDesign {
  position: relative;
  margin: 5rem 2rem 0rem 2rem;
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
}
/*Portfolio*/

.portfolioTitle {
  position: absolute;
  bottom: 0;
  margin-bottom: 10rem;
}
.portfolioContent {
  font-family: Arial, sans-serif;
  position: absolute;
  right: 0;
  font-size: 1.7rem;
  font-weight: bold;
  top: 50vh;
}
.portfolioTitle h1 {
  font-weight: 800;
  font-size: 12rem;
}
.animateContainer {
  display: flex;
  gap: 0.5rem;
  flex: row;
}

.animateWeb {
  transition: color 2s ease-out, transform 1s ease-out;
  cursor: pointer;
}
.animateWeb:hover {
  color: #ffb86a;
  transform: rotate(-8deg) translateY(-18px);
  transition: transform 0.1s ease-in;
}
