/*Section Design Desktop*/
.secDesign {
  position: relative;
  margin: 5rem 2rem 0rem 2rem;
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
}
/*Portfolio*/

.portfolioTitle {
  position: absolute;
  bottom: 0;
  margin-bottom: 5rem;
}
.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: Arial, sans-serif;
  position: absolute;
  right: 0;
  width: 40%;
  font-size: 1.9rem;
  font-weight: 600;
  top: 60vh;
}
.portfolioTitle h1 {
  font-weight: 800;
  font-size: 12rem;
}

.animateContainer {
  display: flex;
  gap: 0.5rem;
  flex: row;
}

.animateWeb {
  transition: color 2s ease-out, transform 1s ease-out;
  cursor: pointer;
}
.animateWeb:hover {
  color: #ffb86a;
  transform: rotate(-10deg) translateY(-18px);
  transition: transform 0.1s ease-in;
}
